<% if logged_in? %>
    <%= content_for :content do %>
    <% end %>
<% else %>
    <div class="welcome-message">
      <h1>.hello</h1>
    </div>
    <div class="welcome">
    <p> Please
      <%= link_to "Log in", login_path %></button>
      or
      <%= link_to "Sign up", signup_path %></button>
      if you'r new guy
    </div>
<% end %>
