@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #4f4f4f;
$white: #ffffff;
$black: #333333;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 3rem;
  background: url('footer_lodyas.png');
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  color: #787878;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  padding-top:1rem;
//  letter-spacing: 2px;
}


/* miscellaneous */

.debug_dump {
//  visibility: hidden;
//  clear: both;
  float: left;
  width: 100%;
  margin-top: 245px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #e6e6e6;
  ul {
    color: #a04332;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}



// welcome
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-80%, -50%);
  transform: translate(-80%, -50%);
  width:40rem;
  padding:3rem 5rem;
  background-color:$white;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -khtml-border-radius:10px;
}
.welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(20%, -55%);
  transform: translate(20%, -55%);
  width:50rem;
  padding:3rem 5rem;
  h1{
    color:$gray-medium-light;
    font-size: 10rem;
  }
}


// Main layouting

.container{
  background-color:$white;
  padding:1.5rem;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -khtml-border-radius:6px;
}
h3 {
  padding:0 0 2rem;
  margin-top:0.6rem;
}
.menu {
//  background-color: rgba(94, 141, 159, 0.03);
//  -webkit-border-radius:10px;
//  -moz-border-radius:10px;
//  -khtml-border-radius:10px;
  padding:1rem;
}
.content{
  padding:0 3rem 0 1rem;
}
.recharge{
  list-style-type:none;
  padding:0;
}
.balance {
  font-size: 3rem;
  color: #a06b53;
  padding:0;
}
.gravatar_edit{
  padding:0 0 2rem;
}
.pagination{
  padding:0rem;
  margin:0rem 0rem 1rem;
}
select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #F07575; /* fallback color if gradients are not supported */
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.close{
  padding:0.5rem 2rem;
  float:left;
}
.checkbox {
  padding:1.5rem 3rem;
}

.slider{
  width:30rem;
  margin:1rem 2.6rem;
}
.slider-selection {
  background: #637a9f;
}
.slider-handle {
  background: #637a9f;
  opacity: 0;
}
.money-select{
  padding:1.3rem 0
}

.header{
  position:relative;
  text-align: center;
  width:10rem;
  left:50%;
  margin-left:-15rem;
  padding:0 1rem;
  h1{
    font-size: 5rem;
  }
}

