@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #4f4f4f;
$white: #ffffff;
$black: #333333;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 3rem;
  background: url('footer_lodyas.png');
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  color: #787878;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  letter-spacing: 2px;
}

/* header */
header {color: $gray-light;}
 a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
 header h1{
   font-size: 6rem;
   padding:0 4rem;
 }
 header small{float:right}


/* footer */

footer {
  color: $gray-light;
  small {
    float:left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
//  visibility: hidden;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 245px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.recharge {
  display:inline;
}


/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

// welcome
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-80%, -50%);
  transform: translate(-80%, -50%);
  width:40rem;
  padding:3rem 5rem;
  background-color:$white;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -khtml-border-radius:10px;

  a {
    color: $white;
    font-weight: 100;
    font-size: 1.8rem;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  p {
    padding-top:2rem;
    color: $black;
    font-size: 2rem;
    font-weight: 100;
    a.login {
      color: $black;
      font-weight: 200;
      font-size: 2rem;
      &:hover {
        color: $black;
        text-decoration: none;
      }
    }
  }
  h1 {
    color:$black;
    padding-bottom:3rem;
  }
}

.login {
  h1{
    font-size: 10rem;
    padding:5rem;
    color:$gray-medium-light;
  }
}

.welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(20%, -55%);
  transform: translate(20%, -55%);
  width:50rem;
  padding:3rem 5rem;
  h1{
    color:$gray-medium-light;
    font-size: 10rem;
  }
}

.menu {
  background-color: rgba(94, 141, 159, 0.03);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -khtml-border-radius:10px;
  margin-left:2rem;
  padding:1rem 2rem;
}

.content{
  padding:1rem 5rem;
}

.balance {
  font-size: 4rem;
  color: #a06b53;
  padding:1.5rem;
}
.gravatar_edit{
  padding:3rem 0;
}
.fa-ruble{
  color:$gray-medium-light;
}

.container{
  background-color:$white;
  padding:3rem;
}

.message{
  width:100%;
  text-align: center;
  margin:0 auto 3rem;
}